{{ define "main" }}
<style> .main { padding:0px !important; }</style>

<div style="background: url(/img/homepage/1.webp); background-repeat: no-repeat;
background-size: cover; background-position:center; background-position-y: -300px;" class="banner row align-items-center">
    <div style="text-align:center;">
        <h1>All-in-one door access control for commercial buildings</h1>
        <p>An easy all-in-one door access system for managing tenant to your commercial property</p>
        <a class="btn btn-primary" href="/contact/">Get a Tour</a>
    </div>  
</div>
<div class="container">
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/2.webp" alt="">
        <div>
            <h3>A fully fledged CRM tied seamlessly into your access control door reader</h3>
            <p>Create individual profiles for tenants, their employees and even their customers to monitor visitation and maintain a secure building.</p>
            <a href="/contact/" class="btn btn-secondary">Get Started</a>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <div class="col gy-5">
            <h3>Always get paid on time with automated billing and unmatched control over your building</h3>
            <p>Increase profitability by bundling rent, power, internet and other resources into a single membership for tenants to pay, all additional leverage should they fall too far behind on payments.</p>
            <a href="/contact/" class="btn btn-secondary">Get a Tour</a>
        </div>
        <img src="/img/homepage/3.webp" loading="lazy" alt="">
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/4.webp"  loading="lazy" alt="">
        <div>
            <h3>The key to a crystal clear picture of your building's security</h3>
            <p>Track and report on visitation, payments and who's got access at any given time.</p>    
            <a href="" class="btn btn-secondary">Get Started</a>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <div class="col gy-5">
            <h3>Unique booking-based access allows tenants to securely offer services to clients outside staffed hours</h3>
            <p>The system can even turn on and control electrical equipment like tanning beds or other equipment tenant's clients may pay to use.</p>
            <a href="/contact/" class="btn btn-secondary">Get a Tour</a>
        </div>
        <img src="/img/homepage/5.webp" loading="lazy" alt="">
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/6.webp" loading="lazy" alt="">
        <div>
            <h2>Why wait? Let's transform your building and your tenant's businesses for the better.</h2>
            <p>Lets get you paid on time and ensure clients are able to securely run their business in a way that protects your investment and improves their bottom line.</p>  
            <a href="/contact/" class="btn btn-secondary">Get Started Today</a>  
        </div>
    </div>
</div>
{{ end }}

